streamlit
pandas==1.5.3
numpy==1.26.4
geopandas==0.14.4
plotly==5.22.0
plotly-express==0.4.1
streamlit-option-menu==0.3.12
streamlit-plotly-mapbox-events==0.1.2
altair==4.2.2
streamlit-aggrid==1.0.5
st-gsheets-connection==0.0.4
